@media screen and (max-width: 300px){
*{
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}

/* HEADER */
.header{
    width: 100%;
    height: 80px;
    border-bottom:1px solid #ccc;
    background: linear-gradient(to right, #fff, #eee);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* LOGO */
.logo{
    width: 40%;
    max-width: 75px;
}

/* MENU */
nav.menu{
    width: 60%;
}
nav.menu ul{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
nav.menu ul li a{
    text-decoration: none;
    padding: 2% 0;
    color:#000;
    font-family: 'Segoe UI', sans-serif;
    font-size: .6em;
}

 /* CONTEÚDO PRINCIPAL DA PÁGINA */
 main div.principal{
    width: 100%;
    height: 30vh;
    background-image: url('../assets/images/lading_page_1.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
 }

/* PRODUTOS */
 main div.products{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
 }

 main div.products h2{
        width: 100%;
        font-family: 'Segoe UI',sans-serif;
        text-transform: uppercase;
        padding:0 1%;
        margin: 1% 0;
        font-weight: normal;
        color: #d33535;
        font-size: 1.3em;
        text-align: center;
 }

.product_card{
    width: 90%;
    max-width: 380px;
    min-height: 150px;
    background-color:#fff;
    box-shadow:0 0 10px #ccc;
    border-radius: 0.3rem !important;
    margin:1%;
    padding:2%;
    font-family: 'Segoe UI', sans-serif;
 }
.product_card:hover{
    cursor: pointer;
    background-color: #fff;
}
 .product_name{
     color:#d33535;
 }

 .product_description{
     padding: 5% 0;
     font-weight: normal;
 }

 .hoverzoom {
    position: relative;
    overflow: hidden;
}
.hoverzoom .retina{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0;    
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5); 
    padding: 0px;
    -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: break-word;
}
.hoverzoom:hover .retina {
    opacity: 1;
}

.hoverzoom .retina {
    color: #fff;
    padding: 10% 0 0 60%;
}

/* FORM NEWSLETTER */
div.form_newsletter{
    width: 90%;
    margin: 2% auto;
    border-radius: 0.3rem !important;
}

div.form_newsletter form.form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

div.form_newsletter fieldset#usuario{
    width: 100%;
	border: none;
    border: 1px solid #ddd;
	border-radius: 5px;
    background-color: #fff;
    padding: 1% 0;
}

div.form_newsletter h1{
    width: 100%;
    padding: 1%;
    font: normal 1em FontAwesome, 'Segoe UI',sans-serif;
}

div.form_newsletter fieldset#usuario input{
    width: 100%;
    height: 30px;
	padding: 2% 0.5%;
    border: none;
    border-bottom: 1px solid #ccc;
	border-radius: 5px;
	font: normal 1em FontAwesome, 'Segoe UI',sans-serif;  
	outline: none !important;
	color:#777;
	background-color: #fff;
}

div.form_newsletter fieldset#usuario .submit{
    width: 100%;
    height: 30px;
	border: none;
	background-color: #1c5009;
	font: normal 1em FontAwesome, 'Segoe UI', sans-serif;  
	color: #fff;
	text-align: center;
	border-radius: 0.3rem !important;
	-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

div.form_newsletter fieldset#usuario .submit:hover, div.form_newsletter fieldset#usuario .submit:focus{
	cursor: pointer;
	background-color: #36D900;
	color: #fff;
	outline: none;
	-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

/* FOOTER */
 footer{
    width: 100%;
    height: 80px;
    bottom: 0;
    background: linear-gradient(to right, #333, #000);
    border-top: 1px solid #ccc;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

small a{
    text-decoration: none;
    color:#ccc;
}

small a:hover{
    text-decoration: underline;
}

small{
    width: 100%;
    font: normal .9em "Segoe UI";
    color: #ccc;
    padding: 2%;
    text-align: center;
}
.socials{
    width: 50%;
    margin: 0 auto;
    font: normal 1em FontAwesome;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.socials a{
    color: #ccc;
    margin: 0 1%;
    text-decoration: none;
}

.socials a:hover{
    color: #fff;
}

}